@charset "utf-8";
/*******globe***********/
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,input,textarea
,fieldset,figure{
    margin:0;
    padding:0;
    color: #0d93f6;

}
 html{
     font-size: 22px;
 }
html,body{
    width: 100%;
    height: 100%;

}
body{

}
img{
    border:0;
    outline:none;
}
a{
text-decoration:none;
}
ul,li{
    list-style:none;
}
input,button{
    outline:none;
}

/*header*/
.biaoxiaodan-header{
    width: 100%;
    font-size: 34px;
}
.biaoxiaodan-header h4{
    text-align: center;
    margin:30px auto;
    letter-spacing: 2px;
}
.biaoxiaodan-time li{
    margin:-14px 0 10px 492px
}
.biaoxiaodan-time li input{
    /*width: 50px;*/
    height: 28px;
    border: none;
}
.biaoxiaodan-table{
    margin:0 auto;
}
.biaoxiaodan-table thead tr{
    line-height: 36px;
}
.biaoxiaodan-table thead tr td{
    text-align: center;
}
.biaoxiaodan-table-tr td input{
    width: 70px;
    height: 28px;
    border: none;
}
.biaoxiaodan-table-last td input{
    width: 188px;
    height: 30px;
    border: none;
}
.biaoxiaodan-footer {
    display: flex;
    margin:0 auto;
}
.biaoxiaodan-footer input{
    width: 82px;
    height: 30px;
    border: none;
}
