@charset "utf-8";
/*******globe***********/
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,input,textarea
,fieldset,figure{
    margin:0;
    padding:0;
    /*color: #0d93f6;*/
}
html{
    font-size: 22px;
}
html,body{
    width: 100%;
    height: 100%;
}
/*body{*/
/*background: skyblue;*/
/*}*/
img{
    border:0;
    outline:none;
}
a{
    text-decoration:none;
}
ul,li{
    list-style:none;
}
input,button{
    outline:none;
}
input{
    border: none;
}
/*header*/
.qingjiadan-header{
    width: 100%;
    font-size: 34px;
}
.qingjiadan-thead tr td{
    font-size: 20px;
    padding-left: 10px;
}
.qingjiadan-thead tr td input{
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}
.qingjiadan-header h4{
    text-align: center;
    margin:30px auto;
    letter-spacing: 2px;
}
.qingjiadan-thead-two td input{
    width: 350px;
}
/*.qingjiadan-thead-three td input{*/
    /*width: 20px;*/
/*}*/
.qingjiadan-thead-last td li{
  margin-left: 450px;
}
.qingjiadan-thead-last td li span{
  float: left;
}
.qingjiadan-thead-last td li input{
    height: 30px;
  float: left;
}
.el-input--prefix .el-input__inner {
  padding-left: 30px;
  border: none;
  width: 290px;
}
